<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}NetHub{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('planList') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('planList') }}
    {% endblock %}
</head>
<body>
<div id="root">

</div>
</body>
</html>